@charset "UTF-8";
/* Font-face declarations */
@font-face {
  font-family: 'Montserrat-Regular';
  src: local("Montserrat-Regular"), url(https://bebriks.github.io/MetaLampEx2/src/fonts/Montserrat/Montserrat-Regular.ttf); }
@font-face {
  font-family: 'Montserrat-Bold';
  src: local("Montserrat-Bold"), url(https://bebriks.github.io/MetaLampEx2/src/fonts/Montserrat/Montserrat-Bold.ttf); }
@font-face {
  font-family: 'Montserrat-Light';
  src: local("Montserrat-Light"), url(https://bebriks.github.io/MetaLampEx2/src/fonts/Montserrat/Montserrat-Light.ttf); }
@font-face {
  font-family: 'Montserrat-Medium';
  src: local("Montserrat-Medium"), url(https://bebriks.github.io/MetaLampEx2/src/fonts/Montserrat/Montserrat-Medium.ttf); }
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), url(https://bebriks.github.io/MetaLampEx2/src/fonts/material-design-icons/MaterialIcons-Regular.ttf); }
@font-face {
  font-family: 'Font_Awesome_5_Brands';
  font-style: normal;
  font-weight: 400;
  src: local("Font_Awesome_5_Brands"), url(https://bebriks.github.io/MetaLampEx2/src/fonts/Font_Awesome_5_Brands/fa-brands-400.ttf); }
/* Base styles */
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat-Regular'; }

body {
  width: 1440px;
  margin: 0 auto; }

a {
  text-decoration: none; }

input {
  border: 1px solid #1F204140;
  border-radius: 4px;
  height: 44px;
  width: 100%; }
  input::placeholder {
    font-family: 'Montserrat-Regular';
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.25);
    padding-left: 15px; }

input[type=radio] {
  --s: 20px;
  /* control the size */
  --c: #BC9CFF;
  /* the active color */
  height: var(--s);
  aspect-ratio: 1;
  border: 1px solid #1F204140;
  padding: 3.0px;
  background: linear-gradient(to bottom, var(--c), #8BA4F9) 50%/0 0 no-repeat content-box;
  border-radius: 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  font-size: inherit;
  transition: .3s; }

input[type=radio]:checked {
  border: 1px solid var(--c);
  background-size: 100% 100%;
  color: #1F2041BF; }
  input[type=radio]:checked + span {
    color: #1F2041BF; }

input[type=radio]:disabled {
  background: linear-gradient(#939393 0 0) 50%/100% 20% no-repeat content-box;
  opacity: .5;
  cursor: not-allowed; }

label {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  color: #1F204180;
  display: inline-flex;
  align-items: center;
  cursor: pointer; }
  label span {
    margin-left: 10px; }

@media print {
  input[type=radio] {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
    background: none; } }
@media print {
  input[type=radio] {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
    background: none; } }
.offers {
  display: flex;
  padding-bottom: 4px;
  margin-top: 10px; }
  .offers p {
    display: flex;
    /* Используется Flexbox для выравнивания */
    font-family: Montserrat-Medium;
    font-size: 14px;
    line-height: 15px;
    text-align: left;
    color: #1F2041BF;
    padding-top: 2px;
    margin-left: 10px; }

.toggle {
  width: 40px;
  height: 20px; }

.tgl {
  display: none; }
  .tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
    box-sizing: border-box; }
    .tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
      background: none; }
  .tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 40px;
    height: 20px;
    position: relative;
    cursor: pointer;
    user-select: none; }
    .tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
      position: relative;
      display: block;
      content: "";
      width: 12px;
      height: 12px; }
    .tgl + .tgl-btn:after {
      left: 0; }
    .tgl + .tgl-btn:before {
      display: none; }
  .tgl:checked + .tgl-btn:after {
    left: 50%; }

.tgl-flat + .tgl-btn {
  display: flex;
  align-items: center;
  padding-left: 3px;
  transition: all .2s ease;
  background: #fff;
  border: 1px solid #1F204140;
  border-radius: 2em; }
  .tgl-flat + .tgl-btn:after {
    transition: all .2s ease;
    background: #1F204140;
    content: "";
    border-radius: 1em; }
.tgl-flat:checked + .tgl-btn {
  border: 1px solid #BC9CFF; }
  .tgl-flat:checked + .tgl-btn:after {
    left: 20px;
    background: linear-gradient(#BC9CFF, #8BA4F9), radial-gradient(circle at left top, #BC9CFF, #8BA4F9); }

/* Logo styles */
.logo {
  display: flex;
  align-items: center; }
  .logo .toxin {
    margin-left: 12.5px; }

/* Header styles */
.header {
  display: flex;
  align-items: center;
  height: 70px;
  background: #FFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05); }
  .header .logo {
    margin-left: 140px; }
  .header .navbar {
    display: flex;
    list-style: none;
    width: 447px;
    height: 21px;
    margin-left: 284px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.5);
    justify-content: space-between; }
    .header .navbar .about {
      font-family: 'Montserrat-Bold';
      color: rgba(31, 32, 65, 0.75); }
    .header .navbar .services,
    .header .navbar .agreements {
      display: flex;
      align-items: center; }
  .header .btns {
    display: flex;
    justify-content: space-between;
    width: 303px;
    margin-left: 20px; }
  .header .btn {
    cursor: pointer;
    font-family: 'Montserrat-Bold';
    font-size: 12px; }

.do-button,
.sign,
.registration {
  border-radius: 40px;
  line-height: 14.63px;
  padding: 8px 16px; }

.sign {
  padding-right: 20px; }

.registration {
  padding: 8px 18px; }

.do-button {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat-Bold';
  font-size: 12px;
  padding: 14px 18px; }

.do-button,
.sign {
  color: #BC9CFF;
  background-image: linear-gradient(#FFF, #FFF), radial-gradient(circle at left top, #BC9CFF, #8BA4F9);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border: 2px double transparent; }

.registration {
  color: #FFF;
  background-image: linear-gradient(to bottom, #BC9CFF, #8BA4F9);
  border: none; }

/* Icon styles */
.material-icons {
  color: rgba(31, 32, 65, 0.5);
  font-family: 'Material Icons';
  font-size: 24px;
  line-height: 20.4px;
  text-align: center; }

/* Main content styles */
.main {
  display: flex;
  height: 830px;
  position: relative;
  background: url("https://bebriks.github.io/MetaLampEx2/src/imgs/image_3.jpeg") no-repeat bottom; }
  .main p {
    align-content: end;
    max-width: 297px;
    max-height: 48px;
    text-align: right;
    margin-left: auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    align-self: flex-end;
    margin-right: 134px;
    margin-bottom: 20px;
    color: #1F2041BF; }

/* Footer styles */
.footer {
  display: flex;
  height: 372px;
  box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1); }
  .footer .logo {
    margin: 0; }
  .footer .comment {
    margin-left: 140px;
    margin-top: 102px;
    width: 260px; }
    .footer .comment .text_comment {
      font-family: 'Montserrat';
      font-size: 14px;
      line-height: 24px;
      color: rgba(31, 32, 65, 0.75);
      text-align: left;
      margin-top: 20px; }
  .footer .lists {
    display: flex;
    list-style: none; }
    .footer .lists .navigation {
      margin-left: 40px; }
    .footer .lists .about {
      margin-left: 57px; }
    .footer .lists .support {
      margin-left: 92px; }
    .footer .lists .subscribe {
      margin-left: 51px; }
    .footer .lists .list {
      list-style: none;
      margin-top: 102px;
      font-size: 14px;
      color: rgba(31, 32, 65, 0.5);
      line-height: 17.07px; }
      .footer .lists .list :first-child {
        font-family: 'Montserrat-Bold';
        color: #1f2041;
        font-size: 12px; }
      .footer .lists .list li {
        color: #1F204180;
        margin-bottom: 21px;
        max-width: 260px; }
      .footer .lists .list:last-child {
        margin-bottom: 0; }
      .footer .lists .list .mailing {
        line-height: 24px; }

.copyright {
  display: flex;
  justify-content: space-between;
  height: 70px;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  align-items: center; }
  .copyright p {
    margin-left: 140px;
    color: rgba(31, 32, 65, 0.75);
    line-height: 17.07px;
    font-size: 14px; }
  .copyright .social-sites {
    list-style: none;
    display: flex;
    align-items: center;
    width: 112px;
    font-size: 24px;
    justify-content: space-between;
    margin-right: 140px; }
    .copyright .social-sites li span {
      background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }

/* Form styles */
.form {
  display: flex;
  align-items: center; }
  .form .email {
    font-family: 'Montserrat-Regular';
    width: 260px;
    height: 43px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px; }
    .form .email::placeholder {
      font-family: 'Montserrat-Regular';
      font-size: 14px;
      line-height: 24px;
      color: rgba(31, 32, 65, 0.25);
      padding-left: 15px; }
  .form .arrow-forward {
    padding: 11.5px 10px;
    background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: -44px; }

/* Icon styles for social media */
.twitter::before {
  font-family: 'Font_Awesome_5_Brands';
  content: "\F099"; }

.facebook::before {
  font-family: 'Font_Awesome_5_Brands';
  content: "\F082"; }

.instagram::before {
  font-family: 'Font_Awesome_5_Brands';
  content: "\F16D"; }

/* Form styles for number selection */
.num-sel-form {
  width: 379px;
  height: 372px;
  border-radius: 4px;
  border: 1px solid #0000001F;
  background: #FFF;
  margin-left: 140px;
  margin-top: 70px;
  position: absolute;
  box-shadow: 0px 0px 25px #00000033; }
  .num-sel-form h1 {
    width: 320px;
    color: #1F2041;
    font-family: 'Montserrat-Bold';
    font-size: 24px;
    font-weight: 700;
    line-height: 29.26px;
    margin-left: 30px;
    margin-top: 40px; }
  .num-sel-form form .dates {
    display: flex;
    margin-left: 30px;
    margin-top: 21px; }
    .num-sel-form form .dates .arrival,
    .num-sel-form form .dates .departure {
      width: 150px; }
      .num-sel-form form .dates .arrival .input-arrival,
      .num-sel-form form .dates .arrival .input-departure,
      .num-sel-form form .dates .departure .input-arrival,
      .num-sel-form form .dates .departure .input-departure {
        width: 100%;
        height: 44px;
        border: 1px solid #1F204140;
        border-radius: 4px; }
    .num-sel-form form .dates .departure {
      margin-left: 20px; }
  .num-sel-form form h3 {
    color: #1F2041;
    font-family: 'Montserrat-Bold';
    font-size: 12px;
    line-height: 14.63px;
    text-align: left;
    margin-bottom: 5px; }
  .num-sel-form form .guests {
    width: 320px;
    margin-left: 30px;
    margin-top: 20px; }
    .num-sel-form form .guests .input-guests {
      width: 100%;
      height: 44px;
      border: 1px solid #1F204140;
      border-radius: 4px; }
  .num-sel-form form .btn {
    margin-left: 30px;
    margin-top: 30px; }

.card-do-button {
  display: flex;
  width: 320px;
  height: 44px;
  background-image: linear-gradient(to bottom, #BC9CFF, #8BA4F9);
  border: none;
  border-radius: 40px;
  align-items: center;
  justify-content: center;
  color: #FFF;
  font-family: 'Montserrat-Bold';
  font-size: 12px;
  line-height: 14.63px;
  text-align: center;
  position: relative; }
  .card-do-button .arrow-forward {
    position: absolute;
    color: #FFF;
    right: 10px; }

.sign-form {
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding: 40px 30px 32px 30px;
  box-shadow: 0px 0px 25px 0px #00000033;
  border: 1px solid #0000001F;
  background: #FFFFFF;
  border-radius: 4px; }
  .sign-form .gender-choose {
    border: none;
    display: flex;
    gap: 20px;
    margin-bottom: 20px; }
  .sign-form input {
    width: 98.9%; }
  .sign-form .surname {
    margin-bottom: 10px; }
  .sign-form .name {
    margin-bottom: 10px; }
  .sign-form h3 {
    font-family: Montserrat-Bold;
    font-size: 12px;
    line-height: 14.63px;
    text-align: left;
    margin-bottom: 5px; }
  .sign-form .birth {
    margin-bottom: 20px; }
  .sign-form h2 {
    font-family: 'Montserrat-Bold';
    width: 320px;
    text-align: start;
    font-size: 24px;
    color: #1F2041;
    margin-bottom: 20px; }
  .sign-form .sign-comment {
    display: flex;
    flex-direction: row;
    width: 320px;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px; }
    .sign-form .sign-comment p {
      font-size: 14px;
      line-height: 18px;
      text-align: left;
      color: #000000; }
  .sign-form .do-button-sign {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 24px;
    padding-right: 24px; }
  .sign-form .card-do-button {
    margin-top: 20px; }
  .sign-form .email {
    width: 320px; }
    .sign-form .email .email-input {
      width: 98.5%; }
  .sign-form .password {
    width: 320px;
    margin-top: 10px; }
    .sign-form .password .password-input {
      width: 98.5%; }

/* Media queries */
@media screen and (max-width: 768px) {
  footer {
    background-color: #FFFFFF;
    box-shadow: 0px 10px 20px 0px #1F20410D;
    width: 768px; }
    footer .footer {
      margin: 0;
      padding: 0;
      box-shadow: none;
      height: auto;
      align-items: center;
      justify-content: space-around; }
      footer .footer .lists,
      footer .footer .text_comment {
        display: none;
        visibility: hidden; }
      footer .footer .comment {
        margin: 0;
        display: flex;
        justify-content: center;
        margin-top: 140px; }
    footer .copyright {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;
      height: 100%;
      margin-top: 20px; }
      footer .copyright p {
        margin: 0;
        padding: 0;
        margin-bottom: 25px; }
      footer .copyright .social-sites {
        margin: 0;
        margin-bottom: 140px; } }

/*# sourceMappingURL=style.css.map */
