.num-sel-form
  h1 Найдём номера под ваши пожелания
  form
    .dates
      .arrival
        h3 ПРИБЫТИЕ
        input.input-arrival(type="text")
      .departure
        h3 ВЫЕЗД
        input.input-departure(type="text")
    .guests
      h3 ГОСТИ
      input.input-guests(type="text")
    .btn
      button.card-do-button(type="submit") ПОДОБРАТЬ НОМЕР
        span.material-icons.arrow-forward arrow_forward


    