.sign-form
  form
    h2 Войти
    .email 
      input.email-input(type="text", placeholder="Email")
    .password
      input.password-input(type="text", placeholder="Пароль")
    button.card-do-button(type="button") ВОЙТИ
      span.material-icons.arrow-forward arrow_forward
    .sign-comment
      p Нет аккаунта на Toxin?
      button.do-button(type="button") СОЗДАТЬ 