header
  .header
    .logo
      img(src="http://127.0.0.1:5500/src/imgs/LOGO.svg")
      img.toxin(src="http://127.0.0.1:5500/src/imgs/TOXIN.svg")
    ul.navbar
      li.about О нас
      li.services Услуги
        span.material-icons expand_more
      li Вакансии
      li Новости
      li.agreements Соглашения
        span.material-icons expand_more
    div.btns
      button.btn.sign ВОЙТИ
      button.btn.registration ЗАРЕГИСТРИРОВАТЬСЯ