header
  .header
    .logo
      img(src="https://bebriks.github.io/MetaLampEx2/src/imgs/LOGO.svg")
      img.toxin(src="https://bebriks.github.io/MetaLampEx2/src/imgs/TOXIN.svg")
    ul.navbar
      li.about
        a О нас
      li.services 
        a Услуги
        span.material-icons
          a.material-icons expand_more
      li
        a Вакансии
      li
        a Новости
      li.agreements
        a Соглашения
        span.material-icons
          a.material-icons expand_more
    div.btns
      button.btn.sign ВОЙТИ
      button.btn.registration ЗАРЕГИСТРИРОВАТЬСЯ