-pageTitle="Toxin"

doctype html
html
  head
    title=pageTitle
    style
      include styles/style.css
  body
    include components/navbar
    include components/main
    include components/footer