footer
  .footer
    .comment
      .logo
        img(src="http://127.0.0.1:5500/src/imgs/LOGO.svg")
        img.toxin(src="http://127.0.0.1:5500/src/imgs/TOXIN.svg")
      div.text_comment Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
    ul.lists
      li.navigation
        ul.list
            li НАВИГАЦИЯ
            li О нас
            li Новости
            li Служба поддержки
            li Услуги
      li.about
        ul.list
            li О НАС
            li О сервисе
            li Наша команда
            li Вакансии
            li Инвесторы
      li.support
        ul.list
            li СЛУЖБА ПОДДЕРЖКИ
            li Соглашения
            li Сообщества
            li Связь с нами
      li.subscribe
        ul.list
            li ПОДПИСКА
            li.mailing Получайте специальные предложения и новости сервиса
            li
              form.form
                input.email(type="text", placeholder="Email")
                span.material-icons.arrow-forward arrow_forward
  .copyright
    p Copyright © 2018 Toxin отель. Все права защищены.
    ul.social-sites
      li
        a(href="#") 
          span(class="twitter")
      li
        a(href="#")
          span(class="facebook")
      li
        a(href="#") 
          span(class="instagram")